<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>PPJ projekt - Matěj Vlk</h1>

<h3>Vyberte stát, pro který chcete zobrazit uložená města a jejich aktuální počasí:</h3>

<tr th:each="state: ${states}">
    <a th:href="@{'/state/' + ${state.stateName}}"><p th:text="${state.stateName}"></p></a>
</tr>

<h3>Příklady volání REST API:</h3>

<p><a th:href="@{/cities}">GET /cities</a></p>

<p><a th:href="@{/citydetail/Liberec}">GET /citydetail/Liberec</a></p>

<p><a th:href="@{/states}">GET /states</a></p>

<p><a th:href="@{/statedetail/USA}">GET /statedetail/USA</a></p>

<p><a th:href="@{/measurements}">GET /measurements</a></p>

<p><a th:href="@{/averagemeasurement/Liberec/7}">GET /averagemeasurement/Liberec/7</a></p>

<p><a th:href="@{/averagemeasurement/Barcelona/14}">GET /averagemeasurement/Barcelona/14</a></p>

</body>
</html>